<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foreverrafs.numericals">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="320"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity
            android:name=".activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialTheme"
            android:windowSoftInputMode="adjustPan">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.foreverrafs.com"
                    android:pathPrefix="/numericals"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="foreverrafs"
                    android:scheme="mathemagicalc" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowAlgorithm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConversionMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialTheme" />
        <activity
            android:name=".activities.LocationOfRootsMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialTheme" />
        <activity android:name=".activities.SystemOfEquationsMenuActivity" />
    </application>

</manifest>